<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Sign update</title>
</head>
<body>
    <form action="/signup" method="post">
        <p>Masukkan nama</p>
        <input type="text" name="name">
        <p>Masukkan pekerjaan</p>
        <input type="text" name="job">
        <p>Masukkan username</p>
        <input type="text" name="username">
        <p>Masukkan password</p>
        <input type="password" name="password">
        <p><input type="submit" name="" value="submit"></p>        
    </form>
</body>
</html>